.header{
    width:auto;
    height:90px;
    background:#808080;
}
    .header ul {
        float:left;
    }
        .header ul li {
            float:left;
            background:#65dfeb;
            list-style:none;
            margin:5px;
        }
            .header ul li a {
            float:left;
            background:#ffd800;
            color:white;
            text-decoration:none;
            margin:2px;
            padding:10px 30px;
            }
.header ul li:hover {
    color: aqua;
    background-color: #de7a56;
}